body{
    font-family: "Inter", "Arial", sans-serif;
}
h2{
    margin: 0;
}
.economy-decoration-icon {
    width:60px;
    height: 60px;
    background-image: url(img/head-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
.main-header{
    background-color: orangered;
    
}
.main-header-nav{
    display: flex;
    margin:0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: orchid;
    width: 1500px;
    

}
.site-navigation{
    display: flex;
}
.social-btn{
    display: flex;
}
.site-navigation-item{
    background-color: palegreen;
    margin: 30px;
}
.head-block {
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 546px;
    background-image: url(img/img_1.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
    
}
.head-block-text{
    background: linear-gradient(45deg, #003BAF, #0075FF, #013CB0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 400;
    

}
.head-block-h2{
    padding-top: 36px;
}
